.App-header{
  font-family: 'Oleo Script Swash Caps', cursive;
  max-height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 0.5rem;
  padding: 0.5rem;
}

thead, tr{
  border: 1px solid black;
}

tr:hover{
  background-color: lightgray;
}
.table-head:hover{
  background-color: white;
}
th, td{
  padding: 0.5rem;
}

table{
  border-collapse: collapse;
  margin-top: 0.5rem;
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}